# 国际象棋锦标赛PGN棋谱数据转csv

同济子豪兄

2022-7-6

原始棋局对局信息存储在`PGN`文件中

PGN file (PGN =”Portable Game Notation”)

包含了1886年至1985年，国际象棋锦标赛的685场对局。

原始数据下载：http://chessproblem.my-free-games.com/chess/games/Download-PGN.php

In [6]:
import pandas as pd

## 从PGN文件中读取棋局信息

In [7]:
df = pd.DataFrame()
json_temp = {}
with open('WCC.pgn','r') as datafile:
    lines = (line.rstrip('\r\n') for line in datafile)
    for line in lines:
        if line.startswith('['):
            tag, value = line[1:-1].split(' ', 1)
            value = eval(value)
            if tag == 'Event':
                json_temp['Event'] = value
            if tag == 'Site':
                json_temp['Site'] = value  
            if tag == 'Date':
                json_temp['Date'] = value
            if tag == 'Round':
                json_temp['Round'] = value
            if tag == 'White':
                json_temp['White'] = value
            if tag == 'Black':
                json_temp['Black'] = value
            if tag == 'Result':
                json_temp['Result'] = value
            if tag == 'ECO':
                json_temp['ECO'] = value
            if tag == 'EventDate':
                json_temp['EventDate'] = value
                df = df.append(json_temp, ignore_index=True)
                json_temp = {}

In [8]:
df

,Black,Date,ECO,Event,EventDate,Result,Round,Site,White
0,"Steinitz, Wilhelm",1886.01.11,D11,World Championship 1st,1886.01.11,0-1,1,USA,"Zukertort, Johannes H"
1,"Zukertort, Johannes H",1886.01.13,C47,World Championship 1st,1886.01.11,0-1,2,USA,"Steinitz, Wilhelm"
2,"Steinitz, Wilhelm",1886.01.15,D10,World Championship 1st,1886.01.11,1-0,3,USA,"Zukertort, Johannes H"
3,"Zukertort, Johannes H",1886.01.18,C67,World Championship 1st,1886.01.11,0-1,4,USA,"Steinitz, Wilhelm"
4,"Steinitz, Wilhelm",1886.01.20,D10,World Championship 1st,1886.01.11,1-0,5,USA,"Zukertort, Johannes H"
...,...,...,...,...,...,...,...,...,...
680,"Karpov, Anatoly",1985.01.21,C92,World Championship 31th,1984.09.10,1/2-1/2,44,Moscow RUS,"Kasparov, Gary"
681,"Kasparov, Gary",1985.01.23,B85,World Championship 31th,1984.09.10,1/2-1/2,45,Moscow RUS,"Karpov, Anatoly"
682,"Karpov, Anatoly",1985.01.28,C92,World Championship 31th,1984.09.10,1/2-1/2,46,Moscow RUS,"Kasparov, Gary"
683,"Kasparov, Gary",1985.01.30,D52,World Championship 31th,1984.09.10,0-1,47,Moscow RUS,"Karpov, Anatoly"
684,"Karpov, Anatoly",1985.02.08,C42,World Championship 31th,1984.09.10,1-0,48,Moscow RUS,"Kasparov, Gary"

## 更改列顺序

In [3]:
columns = ['Date', 'EventDate', 'Event', 'Site', 'ECO', 'White', 'Black', 'Round', 'Result']
df = df[columns]

In [4]:
df

,Date,EventDate,Event,Site,ECO,White,Black,Round,Result
0,1886.01.11,1886.01.11,World Championship 1st,USA,D11,"Zukertort, Johannes H","Steinitz, Wilhelm",1,0-1
1,1886.01.13,1886.01.11,World Championship 1st,USA,C47,"Steinitz, Wilhelm","Zukertort, Johannes H",2,0-1
2,1886.01.15,1886.01.11,World Championship 1st,USA,D10,"Zukertort, Johannes H","Steinitz, Wilhelm",3,1-0
3,1886.01.18,1886.01.11,World Championship 1st,USA,C67,"Steinitz, Wilhelm","Zukertort, Johannes H",4,0-1
4,1886.01.20,1886.01.11,World Championship 1st,USA,D10,"Zukertort, Johannes H","Steinitz, Wilhelm",5,1-0
...,...,...,...,...,...,...,...,...,...
680,1985.01.21,1984.09.10,World Championship 31th,Moscow RUS,C92,"Kasparov, Gary","Karpov, Anatoly",44,1/2-1/2
681,1985.01.23,1984.09.10,World Championship 31th,Moscow RUS,B85,"Karpov, Anatoly","Kasparov, Gary",45,1/2-1/2
682,1985.01.28,1984.09.10,World Championship 31th,Moscow RUS,C92,"Kasparov, Gary","Karpov, Anatoly",46,1/2-1/2
683,1985.01.30,1984.09.10,World Championship 31th,Moscow RUS,D52,"Karpov, Anatoly","Kasparov, Gary",47,0-1
684,1985.02.08,1984.09.10,World Championship 31th,Moscow RUS,C42,"Kasparov, Gary","Karpov, Anatoly",48,1-0

## 导出为csv文件

In [5]:
df.to_csv('WCC.csv', index=False)